@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

:root {
  --font-family: "Caveat Brush", cursive;
  --bg-image: url("https://github.com/anuragbansall/github-winter-extension/blob/main/assets/winter-bg.jpg?raw=true");
  --overlay-color: #0000003c;
  --border-color: #ffffff3c;
  --blur-sm: blur(5px);
  --blur-md: blur(10px);
  --blur-lg: blur(15px);
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --border-radius: 10px;
}

main {
  font-family: var(--font-family) !important ;
  position: relative;
  background: var(--bg-image) top center !important ;
  background-size: cover !important ;
  z-index: 0;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--overlay-color) !important ;
  backdrop-filter: var(--blur-sm) !important ;
  pointer-events: none;
  z-index: -1;
}

button,
.Box {
  background-color: var(--overlay-color) !important ;
  border: 1px solid var(--border-color) !important ;
  backdrop-filter: var(--blur-md) !important ;
}

ul li,
.d-table,
input,
textarea,
select {
  background-color: var(--overlay-color) !important ;
  backdrop-filter: var(--blur-md) !important ;
  padding: var(--padding-sm) !important ;
  border-radius: var(--border-radius) !important ;
  border: 1px solid var(--border-color) !important ;
  margin-bottom: 5px !important ;
}

.color-bg-default,
.Label,
.color-fg-muted {
  /* background-color: var(--overlay-color) !important ;
  backdrop-filter: var(--blur-md) !important ;
  border-radius: var(--border-radius) !important ;
  border: 1px solid var(--border-color) !important ;
  padding: var(--padding-sm) !important ; */
  color: #ffffff !important ;
}

.github-winter-avatar-container {
  position: relative;
}

.github-winter-snow-fall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  border-radius: 50%;
}

.p-nickname {
  color: #ffffff !important ;
  font-style: italic !important ;
}
