main {
  position: relative;
  background: url("https://github.com/anuragbansall/github-winter-extension/blob/main/assets/winter-bg.gif?raw=true") !important ;
  background-size: cover !important ;
}

/* Create a fade overlay */
main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.3
  ); /* Black with 30% opacity (adjust as needed) */
  pointer-events: none; /* Ensures it doesn't interfere with clicks */
}

button,
.Box {
  background-color: #0000003c !important ;
  border: 1px solid #ffffff3c !important ;
}
