main {
  position: relative;
  background: url("https://github.com/anuragbansall/github-winter-extension/blob/main/assets/winter-bg.jpg?raw=true") !important ;
  background-size: cover !important ;
  z-index: 0;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000004f !important ;
  backdrop-filter: blur(5px) !important ;
  pointer-events: none;
  z-index: -1;
}

button,
.Box {
  background-color: #0000003c !important ;
  border: 1px solid #ffffff3c !important ;
  backdrop-filter: blur(10px) !important ;
}

ul li {
  background-color: #0000003c !important ;
  backdrop-filter: blur(10px) !important ;
  padding: 5px !important ;
  border-radius: 5px !important ;
  border: 1px solid #ffffff3c !important ;
  margin-bottom: 5px !important ;
}

.color-bg-default {
  background-color: #0000003c !important ;
  backdrop-filter: blur(10px) !important ;
  border-radius: 5px !important ;
  border: 1px solid #ffffff3c !important ;
}
